* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
}

:root {
    --color-vars-here: #FFF;
}

body {
    margin: 0;
    background-color: var(--color-vars-here);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(130, 105, 74);
}

.navbar li{
    text-align: center;
    float: left;
}